<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="account-list">
    <p>Accounts below are available in the system to explore Spring Security examples.</p>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">lucas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CUSTOMERS_ADMIN</h6>
                    <p class="card-text">Username: lucas</p>
                    <p class="card-text">Password: lucas</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">tom</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CUSTOMERS_QA</h6>
                    <p class="card-text">Username: tom</p>
                    <p class="card-text">Password: tom</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
