<!doctype html>
<html th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h3 class="display-3">Secret resources page</h3>
            <p>This page is accessible only by logged in users with special roles.</p>
            <p>If you see this page, than you have logged correctly to the system.</p>

            <div>
                This is a super secret information that only authorized and authenticated users can see.
            </div>
        </div>
    </div>

</main>

</body>
</html>