<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>

    <title>Spring MVC Articles Example</title>
</head>
<body>

<header th:insert="fragments/header.html :: header"></header>
<main th:insert="fragments/main.html :: main"></main>

</body>
</html>